body {
  background-color: hsl(30, 54%, 90%);
  font-family: Outfit;
}
h1,
h3 {
  font-family: Young Serif;
  font-weight: 400;
}

.container {
  background: #fff;
  max-width: 600px;
  margin: 100px auto;
  padding: 30px;
  border-radius: 10px;
}

img {
  width: 100%;
  border-radius: 10px;
}

h1 {
  font-size: 36px;
}

p {
  font-size: 15px;
  line-height: 1.5;
  margin-top: -10px;
  font-weight: 400;
  opacity: 0.8;
}

h3 {
  color: hsl(14, 45%, 36%);
}

.prepare {
  margin-top: 25px;
  padding: 10px;
  background-color: hsl(330, 100%, 98%);
  border-radius: 10px;
  font-size: 14px;
}

.prepare li {
  padding: 6px;
  padding-left: 15px;
  opacity: 0.8;
}

.prepare li strong {
  color: hsl(24, 5%, 18%);
}

.time {
  color: hsl(332, 51%, 32%);
  font-size: 20px;
  margin-left: 20px;
}

h3 {
  font-size: 28px;
  margin-bottom: 0;
}

.ingredient ul {
  padding-left: 20px;
}

.ingredient li {
  padding: 6px;
  padding-left: 15px;
  font-size: 14px;
  opacity: 0.8;
}

hr {
  color: hsl(30, 18%, 87%);
  opacity: 0.2;
  margin-top: 25px;
}

.instruction ol {
  padding-left: 20px;
}

.instruction li {
  padding: 6px;
  padding-left: 15px;
  opacity: 0.8;
  font-size: 14px;
}

.instruction strong {
  color: hsl(24, 5%, 18%);
}

.nutrition p {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 600;
  color: hsl(30, 10%, 34%);
}
table {
  opacity: 0.8;
  font-weight: 400;
}

td {
  padding: 10px 200px 10px 10px;
  font-size: 14px;
}

.category {
  border-bottom: 1px solid hsl(30, 18%, 87%);
}

.nutrition strong {
  color: hsl(14, 45%, 36%);
  font-weight: 600;
  opacity: 1;
}

.attribution {
  font-size: 12px;
  text-align: center;
  margin: 20px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
